// ===================================================
// Utility Mixins
// ===================================================

// WebKit-style focus from Bootstrap
@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Responsive embeds
@mixin intrinsic-ratio($width, $height) {

    &[data-ratio="#{$width}-#{$height}"] {
      position: relative;
      padding-bottom: percentage($height / $width);
      height: 0;

      // Make an object fill it's container
      .rwd-media-object {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
}

// Remove styling from a list
%unstyled {
  margin:0;
  padding:0;
  list-style:none;
}

// Center objects
%center-block {
  margin-left:auto;
  margin-right:auto;
}

// Only show a break when the page is wide enough for it to make sense.
%break {
  br {
    display: none;

    @include breakpoint( $medium ) {
      display: block;
    }
  }
}

// Remove units
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Generate a baseline multiplier from the modular scale
@function baseline( $val ) {
  @return ms( $val, 1em 1.5em);
}
