$summary__title__color: $global__accent;
$collection__callout__color: #4A4A4A;

.m-collection {
  &__title {
    @include height( 14px );
    color: #B1B1B1;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: $baseline/4;
  }
  &__callout {
    @include height( 36px );
    color: $collection__callout__color;
    margin-bottom: $baseline/4;
  }
  &__copy {
    @include height( 18px );
  }
}