---
title: How we build sites using Middleman & Gulp
category:
  - Front End Development
  - Open Source
date: 04/04/2016 00:00
tldr: We've often been fans of static site generators. We decided to use Middleman v4 for this site and along the way ended up creating an open source project for others to do the same. Watch the screencast for more information or read on.
summary: false
---

= embed 'https://www.youtube.com/embed/-io8EeB3GHI'

:markdown
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatum excepturi aperiam, natus pariatur at quam temporibus, unde, delectus hic accusamus recusandae omnis ea eveniet molestias. Delectus quia, fugiat expedita?

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatum excepturi aperiam, natus pariatur at quam temporibus, unde, delectus hic accusamus recusandae omnis ea eveniet molestias. Delectus quia, fugiat expedita?
