// ===================================================
// Alerts
// ===================================================

.browsehappy {
  @extend .alert;
}

.alert {
  @include clearfix;
  border: 1px solid transparent;
  border-radius: $radius;
  margin: baseline(0);
  padding: baseline(0);
  text-align: left;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 99;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    color: inherit;
  }

  .alert-link {
    font-weight: bold;
  }

  > p,
  > ul {
    margin-bottom: 0;
    float: left;
  }
  > p + p {
    margin-bottom:baseline(0);
  }
}

// Dismissable alerts
.alert-dismissable {
  padding-right: baseline(4);

  // Adjust close link position
  .close {
    position: relative;
    color: inherit;
    top: baseline(-6);
    right: - baseline(1);
  }
}

.alert-success {
  background-color: lighten($brand-success, 40%);
  border-color: $brand-success;
  color: $brand-success;
}
