// ===================================================
// Buttons
// ===================================================


// Base button class modified from Bootstrap

%btn {
  @include transition(background-color 0.2s ease);
  padding: baseline(-3) baseline(-1);
  line-height: normal;
  display: block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0;
  white-space: nowrap;
  user-select: none;
  border-radius: $radius;

  &:active,
  &.active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: 0.65;
    box-shadow: none;
  }
}

.btn-primary {
  @extend %btn;
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// Custom button styles
.btn-primary[type="submit"] {
  @include breakpoint( max-width $xsmall) {
    width: 100%;
  }
}

.btn-next {
  float:right;
}

.social-buttons {
  padding-bottom: baseline(0);
}
