// ===================================================
// Buttons
// ===================================================


// Base button class modified from Bootstrap

%btn {
  padding: baseline(-3) baseline(-1);
  line-height:normal;
  display: block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 0;
  white-space: nowrap;
  user-select: none;
  border-radius: $radius;

  &:active,
  &.active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    opacity: 0.65;
    box-shadow: none;
  }
}


/** ALTERNATIVE BUTTONS */

// Default appears as blue
.btn-default {
  @extend %btn;
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

// Primary appears as red
.btn-primary {
  @extend %btn;
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

// Success appears as green
.btn-success {
  @extend %btn;
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

// Info appears as blue-green
.btn-info {
  @extend %btn;
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

// Warning appears as orange
.btn-warning {
  @extend %btn;
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

// Danger and error appear as red
.btn-danger {
  @extend %btn;
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

%btn-square {
  padding: baseline(0);
}

// Custom button styles
.btn-primary[type="submit"] {
    @include breakpoint( max-width $xsmall) {
    width: 100%;
  }
}

.btn-next {
  float:right;
}
