@font-face {
  font-family: "simple-bit";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/simplebit/simple-bit.eot");
  src:
    url("../fonts/simplebit/simple-bit.eot?#iefix") format("embedded-opentype"),
    url("../fonts/simplebit/simple-bit.woff") format("woff"),
    url("../fonts/simplebit/simple-bit.ttf") format("truetype"),
    url("../fonts/simplebit/simple-bit.svg#simple-bit") format("svg");

}
