// ===================================================
// Forms
// ===================================================

fieldset {
  border:0;
  padding:0;
}

.form-row {
  margin-bottom: baseline(0);

  input,
  textarea {
    padding: baseline(-3);
    border:0;
    display:block;
    width:100%;
    border-radius: $radius;
  }
}

textarea {
  resize: vertical;
}
