// ===================================================
// Forms
// ===================================================

fieldset {
  border:0;
  margin:0;
  padding:0;
}

textarea {
  resize: vertical;
}

.form__polyfill--placeholder {
  display: block;
  padding-bottom: baseline(-5);
}

.mustard .form__polyfill--placeholder {
  @extend .sr-only;
}

.form__row {
  @include clearfix;
  margin-bottom: baseline(0);
  text-align: left;

  .form__input--text {
    @extend %round;
    padding: baseline(-3);
    border: 0;
    display:block;
    width:100%;
  }

  &.has-additional {

    .form__additional-content {
      display:block;
    }

    .form__input--text {
      @extend %round-top;
    }

  }
}

// Help text, info text, error messages etc.
.form__additional-content {
  @extend %round-bottom;
  text-align:left;
  display: none;
  padding: baseline(-3);
}

.block--success {
  background-color: $brand-success;
  color: lighten($brand-success, 50%);
}

.block--help {
  background-color: $brand-help;
  color: lighten($brand-help, 50%);
}

.block--danger {
  background-color: $brand-danger;
  color: lighten($brand-danger, 50%);
}

.block--info {
  background-color: $brand-info;
  color: lighten($brand-info, 50%);
}
