// ===================================================
// Forms
// ===================================================

fieldset {
  border:0;
  margin:0;
  padding:0;
}

.placeholder label {
  @extend .sr-only;
}

.form-row {
  @include clearfix;
  margin-bottom: baseline(0);
  text-align: left;

  .text-input {
    @extend %round;
    padding: baseline(-3);
    border: 0;
    display:block;
    width:100%;
  }

  &.has-additional {
    .additional-content {
      display:block;
    }
    .text-input {
      @extend %round-top;
    }
  }
}

// Help text, info text, error messages etc.
.additional-content {
  @extend %round-bottom;
  text-align:left;
  display: none;
  padding: baseline(-3);
}

.block-success {
  background-color: $brand-success;
  color: lighten($brand-success, 50%);
}

.block-help {
  background-color: $brand-help;
  color: lighten($brand-help, 50%);
}

.block-danger {
  background-color: $brand-danger;
  color: lighten($brand-danger, 50%);
}

.block-info {
  background-color: $brand-info;
  color: lighten($brand-info, 50%);
}

textarea {
  resize: vertical;
}
