// ===================================================
// Helpers
// ===================================================

.bg-light {
  background-color: #FFF;
}

.bg-dark {
  background-color: $brand-dark;
}

.bg-primary {
  background-color: $brand-primary;
}

.bg-secondary {
  background-color: $brand-secondary;
}

.bg-gray {
  background-color: $gray-lightest;
}

.text-primary {
  color: $brand-primary;
}

.text-success {
  color: $brand-success;
}

.bordered-light {
  border-top: 1px solid $gray-lighter;
}

// Only display content to screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Use in conjunction with .sr-only to only display content when it's focused.
.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
