// ===================================================
// Helpers
// ===================================================

.bg-dark {
  background-color: $brand-dark;
  color:#FFF;
}

.bg-primary {
  background-color: $brand-primary;
  color:#FFF;
}

.text-primary {
  color: $brand-primary;
}

.text-success {
  color: $brand-success;
}