[class^="icon-"]:before,
[class*=" icon-"]:before {
  vertical-align: bottom;
  font-family: "simple-bit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Space icons in copy or headings
.copy__icon--before {
  margin-right: baseline(-5);
}

.copy__icon--after {
  margin-left: baseline(-5);
}

.copy__icon {
  @extend .copy__icon--before;
  @extend .copy__icon--after;
}

.section__icon--more {
  display: none;

  @include breakpoint( min-height $landscape) {
    display: block;
    font-size: 1em;
    position: absolute;
    bottom:0.5em;
    left:50%;
    margin-left: -0.5em;
  }
}

// Icons classes
.icon--settings:before {
  content: "\e003";
}
.icon--browser:before {
  content: "\e004";
}
.icon--warning:before {
  content: "\e007";
}
.icon--mail:before {
  content: "\e002";
}
.icon--love:before {
  content: "\e000";
}
.icon--down-open-big:before {
  content: "\e005";
}
