@font-face {
  font-family: "simple-bit";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/simplebit/simple-bit.eot");
  src:
    url("../fonts/simplebit/simple-bit.eot?#iefix") format("embedded-opentype"),
    url("../fonts/simplebit/simple-bit.woff") format("woff"),
    url("../fonts/simplebit/simple-bit.ttf") format("truetype"),
    url("../fonts/simplebit/simple-bit.svg#simple-bit") format("svg");

}

[data-icon]:before {
  font-family: "simple-bit" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  vertical-align: bottom;
  font-family: "simple-bit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subsection [class^="icon-"] {
  @extend .giga;
  @extend %center;
  margin-bottom: baseline(-8);
  display:block;
}

.icon-left {
  padding-right: baseline(-5);
}

.icon-right {
  padding-left: baseline(-5);
}

.icon-twitter:before {
  content: "\e001";
}
.icon-menu:before {
  content: "\e002";
}
.icon-love:before {
  content: "\e005";
}
.icon-settings:before {
  content: "\e003";
}
.icon-mail:before {
  content: "\e000";
}
.icon-browser:before {
  content: "\e004";
}

.icon-warning:before {
  content: "\e007";
}
