[data-icon]:before {
  font-family: "simple-bit" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  vertical-align: bottom;
  font-family: "simple-bit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Space icons in copy or headings
.copy__icon--before {
  margin-right: baseline(-5);
}

.copy__icon--after {
  margin-left: baseline(-5);
}

.copy__icon {
  @extend .copy__icon--before;
  @extend .copy__icon--after;
}

// Icons classes
.icon--love:before {
  content: "\e005";
}
.icon--settings:before {
  content: "\e003";
}
.icon--mail:before {
  content: "\e000";
}
.icon--browser:before {
  content: "\e004";
}
.icon--warning:before {
  content: "\e007";
}
