// ===================================================
// Images
// ===================================================

img {
  max-width:100%;
}

figure {
  margin:0;
}

// Responsive images
.rwd-media {
  @include intrinsic-ratio(153,41);
}

.logo {
  margin: baseline(4) auto baseline(0);
  width: 292px;

  @include breakpoint( max-width $small ) {
    margin:0 auto baseline(3);
    max-width: 65%;
    width: auto;
  }

  @include breakpoint( $small ) {
    max-width: 292px;
  }

  @include breakpoint( max-height $landscape) {
    margin-top: baseline(-2);
  }

  .logo__img {
    display: block;
    width: 100%;
  }

}
