// ===================================================
// Images
// ===================================================

body {
  background: url("../images/splatter.png") fixed no-repeat top right;
  background-size: 100%;

  @include breakpoint( $medium ) {
    background-size: auto;
  }
}

img {
  max-width:100%;
}

.img-thumb {
  background-color: #FFF;
  border:1px solid $gray-light;
  box-shadow: 0 2px 0 $shadow;
  padding: baseline(0);
  position: relative;
  border-radius: $radius;

  @include breakpoint( $small ) {
    padding: baseline(0);
  }

  @include breakpoint( $medium ) {
    padding: baseline(0);
  }

  @include breakpoint( $large ) {
    padding: baseline(1) // $baseline * 2
  }
}

// Responsive images
.rwd-media-container {
  @include intrinsic-ratio(560,300);
  @include intrinsic-ratio(306,82);
}

.logo {
  margin: baseline(8) auto baseline(4);
  max-width: baseline(12);

  .logo-img {
    display: block;
    width: 100%;
  }

}
