// ===================================================
// Images
// ===================================================

img {
  max-width:100%;
}

figure {
  margin:0;
}

// Responsive images
.rwd-media-container {
  @include intrinsic-ratio(280,224);
  @include intrinsic-ratio(153,41);
}

.logo {
  margin: 0 auto baseline(3);
  max-width: baseline(10);

  @include breakpoint( $medium ) {
    margin-bottom: baseline(5);
    max-width: baseline(12);
  }

  .logo-img {
    width: 100%;
  }

}
