a {
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    @include tab-focus;
  }
}

p a {
  color: $brand-primary;
}

.inherit {
  color: inherit;
}

.footer {
  &:hover,
  &:focus {
    a {
      color: #FFF;
    }
  }
}
