* {
  box-sizing: border-box;
}

.header {
  @extend .section;
  // border-bottom:1px solid $gray-light;
  // border-bottom:1px solid rgba(0,0,0,0.08);
}

// Horrizontal
.container {
  @include clearfix();
  @include container(95%);

  @include breakpoint( $large ) {
    @include container(90%);
  }
}

// Vertical
.section {
  padding-bottom: baseline(0);
  padding-top: baseline(1);

  @include breakpoint( $small ) {
    padding-bottom: baseline(3);
    padding-top: baseline(4);
  }

  @include breakpoint( $medium ) {
    padding-bottom: baseline(6);
    padding-top: baseline(6);
  }

}

// Only allow section headers to extend 3/4
.section-header {
  @include span(12 of 12);
  margin-bottom: baseline(2);

  @include breakpoint( $medium ) {
    @include span(isolate 10 of 12 at 2);
    margin-bottom: baseline(4);
    float: none;
  }
}

// Ensure each section within the grid has outer gutters
.inner {
  @include span(12 of 12);
}

.subsection {
  position: relative;
  @include span(12 of 12);

  @include breakpoint( $small ) {
    @include span(6 of 12);
  }

  @include breakpoint( $medium ) {
    @include span(4 of 12);
  }

  .subsection-body {
    @include breakpoint( max-width $small ) {
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: baseline(0);
    }
  }

  &:last-child {
    .subsection-body {
      border-bottom: 0;
    }
  }

}

// Contact form positioning
.form-contact {
  @include span(12 of 12);

  @include breakpoint( $medium ) {
    @include span(isolate 8 of 12 at 2);
  }

  @include breakpoint( $large ) {
    @include span(isolate 6 of 12 at 4);
  }
}

.footer {
  @include clearfix;
  padding-top: baseline(1);
  text-align: center;

  .note {
    @include clearfix;
    margin:0 auto;
  }
}
