* {
  box-sizing: border-box;
}

// Ensure each section within the grid has outer gutters
%inner {
  padding-left: gutter();
  padding-right: gutter();
}

%center {
  margin-left:auto;
  margin-right:auto;
}

.header {
  @extend .section;
}

// Horrizontal
.container {
  @include clearfix();
  @include container(95%);
  @extend %inner;

  @include breakpoint( $large ) {
    @include container(90%);
  }
}

// Vertical
.section {
  padding-bottom: baseline(0);
  padding-top: baseline(1);

  @include breakpoint( $small ) {
    padding-bottom: baseline(3);
    padding-top: baseline(4);
  }

  @include breakpoint( $medium ) {
    padding-bottom: baseline(6);
    padding-top: baseline(6);
  }

}

// Only allow section headers to extend 3/4
.section-header {
  @extend %center;
  margin-bottom: baseline(2);

  @include breakpoint( $medium ) {
    margin-bottom: baseline(4);
    max-width: span(10);
  }
}

.subsection {
  @extend %center;
  position: relative;

  @include breakpoint( $small ) {
    text-align: center;
    max-width: span(8);
  }

  @include breakpoint( $medium ) {
    @include span(4 of 12);
  }

  .subsection-body {
    @include breakpoint( max-width $small ) {
      border-bottom: 1px solid $gray-lighter;
      margin-bottom: baseline(0);
    }
  }

  &:last-child {
    .subsection-body {
      border-bottom: 0;
    }
  }

}

// Contact form positioning
.form-contact {
  @extend %center;

  @include breakpoint( $small ) {
    max-width: span(10);
  }

  @include breakpoint( $medium ) {
    max-width: span(6);
  }
}

.has-divider {
  border-bottom:1px solid #FFF;
  border-bottom:1px solid rgba(255,255,255,0.5);
  padding-bottom: baseline(0);
  margin-bottom: baseline(4);

  @include breakpoint( $medium ) {
    padding-bottom: baseline(0);
  }
}

.footer {
  @include clearfix;
  padding-top: baseline(1);
  text-align: center;
}
