// ===================================================
// Typography (Complementing Typeplate)
// ===================================================

html {

  @include breakpoint( $large ) {
    font-size: 125%;
  }

}

body {
  @include css-hyphens( none );
  margin: 0;
  min-height: 100%;
}

blockquote {
  margin:0;

  q {
    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }

  cite {
    @include breakpoint( max-width $small ) {
      display:block;
    }
  }
}

// Content blocks
.hero {
  text-align:center;
}

  .hero__title {
    @extend .beta;
    font-weight: $weight-light;

    @include breakpoint( max-width $small ) {
      padding-bottom: baseline(0);
    }

  }

  .hero__subtitle {
    @extend .zeta;
    color: $gray-light;
  }


// Sections
.section {}

  .section__title {
    @extend .beta;
    margin-bottom: baseline(-2);
    font-weight: $weight-bold;
    text-align:center;
  }

  .section__subtitle {
    @extend .epsilon;
    text-align:center;
    margin-bottom: baseline(0);

    @include breakpoint( max-width $small) {
      margin-bottom: 0;
    }
  }

// Subsections
.subsection {}

  .subsection__title {
    @extend .epsilon;

    @include breakpoint( max-width $medium ) {
      text-align:center;
    }

  }

  .subsection__body {
    @include breakpoint( max-width $medium ) {
      text-align:center;
    }
  }
