// ===================================================
// Typography (Complementing Typeplate)
// ===================================================

html {
  // Default is 112.5% set in `vars/_vars-type.scss`
  @include breakpoint( $medium ) {
    // font-size: 130%;
  }

  @include breakpoint( $large ) {
    // font-size: 150%;
  }

  @include breakpoint( $xlarge ) {
    font-size: 150%;
  }

}

body {
  color: $gray-dark;
}

.weight-thin {
  font-weight: $weight-thin;
}

.weight-light {
  font-weight: $weight-light;
}

.weight-default {
  font-weight: $weight-default;
}

.weight-medium {
  font-weight: $weight-medium;
}

.weight-bold {
  font-weight: $weight-bold;
}

strong, b {
  @extend .weight-bold; // Ensure the weights always match
}

// Content blocks
body {
  background: url("../images/splatter.png") no-repeat top center;
  background-size: 100%;
}

.hero {}
  .hero-title {
    @extend .gamma;
    line-height: 1.3333333333;

    br {
      display: none;

      @include breakpoint( $medium ) {
        display: block;
      }
    }

    font-weight: $weight-light;
    padding-bottom: $baseline;

    @include breakpoint( $medium ) {
      padding-bottom: $baseline*3;
    }

  }

.section {}
  .section-title {
    @extend .gamma;

    font-weight: $weight-bold;

    &+.rwd-media-container {
      @include breakpoint( $medium ) {
        margin-top: $baseline;
      }
    }
  }

  .section-subtitle {
    @extend .epsilon;
  }

  // Make sure text is readbale on dark backgrounds
  .bg-dark,
  .bg-secondary {
    .section-title {
      color:#FFF;
    }
  }

.subsection {}
  .subsection-title {
    @extend .epsilon;

    @include breakpoint( $small ) {
      border-bottom: 1px solid $gray-lighter;
      padding-bottom: $baseline/2;
      margin-bottom: $baseline/2;
    }
  }

  .rwd-media-container + .subsection-title {
    padding-top: $baseline/2;
  }

  p,
  .subsection-body {
    color: $gray-light;
  }
