// ===================================================
// Grid Variables
// ===================================================

// Breakpoint Variables
$breakpoint-to-ems: true;
$xsmall: ms(6);
$small: ms(7);
$medium: ms(8);
$large: ms(9);
$xlarge: ms(10);
$xxlarge: ms(11);

$landscape: 21em;

// SUSY Variables
$susy: (
  use-custom clearfix: true,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-setting: border-box,
);
