// ===================================================
// Typography Variables
// ===================================================

// Font weights
$weight-thin: 100;
$weight-light: 300;
$weight-default: 400;
$weight-medium: 500;
$weight-bold: 700;

$ms-base: 16 24;
$ms-ratio: $golden;

// Base Type
$font-weight: $weight-light;
$line-height: 1.5;
$font-size: 100; // percentage value (16 * 112.5% = 18px)

$font-family: sans-serif; // Non-font-face font-stack

$custom-font-family: "Clear Sans"; // Custom font-face stack, if set will be added to the $font-family

$indent-val: 1.5em;
$paragraph-vertical-whitespace: true;
$small-print-size: 65%;

$body-copy-color: $gray-dark;
$heading-color: $gray-dark;

$tera: ms(8);
$giga: ms(7);
$mega: ms(6);
$alpha: ms(5);
$beta: ms(4);
$gamma: ms(3);
$delta: ms(2);
$epsilon: ms(1);
$zeta: ms(0);

$baseline: ms(0, 1em 1.5em);

$type-scale-unit-value: rem;

$pull-quote-fontsize: 4em;
$pull-quote-opacity: 0.5;
$pull-quote-color: #dc976e;

$cite-display: block;
$cite-text-align: right;
$cite-font-size: inherit;

$small-caps-color: gray;
$small-caps-weight: 600;

$dropcap-float-position: left;
$dropcap-font-size: 4em;
$dropcap-font-family: inherit;
$dropcap-txt-indent: 0;
$dropcap-margin: inherit;
$dropcap-padding: inherit;
$dropcap-color: inherit;
$dropcap-line-height: 1;
$dropcap-bg: transparent;
