// ===================================================
// Brand Variables
// ===================================================

$brand-primary:         #4A90E2;
$brand-secondary:       #343B44;
$brand-dark:            #22282F;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$gray-lightest:         #F8F8F8;
$gray-lighter:          #DDDDDD;
$gray-light:            #AAAAAA;
$gray-med:              #979797;
$gray-dark:             #4A4A4A;

$shadow:                rgba(0,0,0,0.05);
$radius:                0.25em
