// ===================================================
// Brand Variables
// ===================================================

$brand-primary: #FF3333;
$brand-secondary: #1c4062;
$brand-dark: #132B42;
$brand-info: #FF3333;
$brand-success: #FF3333;
$brand-warning: #FF3333;
$brand-danger: #FF3333;

$gray-light: #CCC;
$gray-dark: #333;

$menu-border-color: rgba(255,255,255,0.1);
