.icon {
  display: inline-block;
  background-color: inherit;
  border: 0;
  font-style: normal;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon--32 {
  width: 32px;
  height: 32px;
}

.icon--after {
  margin-left: $baseline-half;
}

.icon--before {
  margin-right: $baseline-half;
}