[class*="icon"],
[class^="icon"] {
  display: inline-block;
  font-style: normal;
  fill: currentColor;
  vertical-align: -0.125em;
}

.icon--after {
  margin-left: $baseline-half;
}

.icon--before {
  margin-right: $baseline-half;
}