.list {
  padding-left: 0;
  list-style: none;
  
  &--divided > li {
    border-bottom: 1px solid rgba(0,0,0, 0.15);
  }

  &--inline > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: $baseline-half;
  }
}