.navigation {
  list-style: none;
  padding: 0;
  margin-left: -$baseline/2;
  margin-right: -$baseline/2;
  margin-bottom: $baseline/2;

  &__item {
    margin: 0;
    border-bottom: 1px solid rgba(white, 0.15);

    &:first-child {
      border-top: 1px solid rgba(white, 0.15);
    }
  }

  &__text {
    @include height( 18px, 48px );
    font-weight: bold;
    display: block;
    color: inherit;
    padding-left: $baseline/2;
    padding-right: $baseline/2;
  }
}

a.navigation__text {
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include notouch( true ) {
    background-color: rgba(black, 0.05);
  }
}