.c-summary {
  margin-top: $baseline/2;
  margin-bottom: $baseline/2;

  &--divided {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: $baseline/2;
  }

  &__title {
    @include height( 24px );
    font-weight: 700;
    margin-bottom: $baseline/2;
    
    &--accent {
      color: $summary__title__color;
    }
  }

  &__figure {
    margin-top: $baseline;
    margin-bottom: $baseline;
  }

  &__copy {
    @include height( 18px );
    margin-top: $baseline/2;
    margin-bottom: $baseline/2;
  }

  &__meta {
    @include height( 12px );
    color: #B1B1B1;
    text-transform: uppercase;
    font-weight: bold;

    &--accent {
      color: $summary__title__color;
    }
  }

  &__teaser > :last-child {
    margin-bottom: 0;
  }
}