= wrap_layout :layout do
  %article{:itemscope => "", :itemtype => "http://schema.org/BlogPosting"}
    %header
      .constrained
        %img{:alt => "Arabic mathematical manuscript", :itemprop => "image", :src => "http://golden-age.com/images/arabic-manuscript.jpg"}/

        %h1{:itemprop => "name"}
          %a{:href => "http://goldenage.com/maths.html", :itemprop => "url"} Mathematics in The Muslim Golden Age
        %p
          %span{:itemprop => "author"} Dudley Storey
          %time{:datetime => "2012-11-28", :itemprop => "datePublished"} 28 November 2012
    .constrained{:itemprop => "articleBody"}
      = yield