= wrap_layout :layout do
  .c-section.c-section--last.c-section--adjacent
    = partial "partials/project-summary", locals: { project: current_page.data, path: current_page.path }

  = yield

  .c-section
    = partial "partials/contact"
