%section#clients
  .l-light
    .l-grid.l-grid--lines.l-grid---MQdesktop
      .l-grid__span--6---MQdesktop
        .c-panel.c-panel--upsize
          .c-panel__body
            %h1.c-panel__title.c-panel__title--giant.h-color-primary We work with  amazing brands
            .c-copy.c-copy--emphasised
              %p Our work is seen by millions of people. That’s a lot of pressure. Whether it’s a checkout flow for an e-commerce site or the most efficient way to process recruitment candidates; we prototype, test and iterate to validate our ideas, ensuring we’re on the right track.
      .l-grid__span--6---MQdesktop
        .l-grid.l-grid---MQupto-desktop.l-grid---MQdesktop.l-grid--lines
          .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
            .l-inner.l-vcenter
              = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "Bond International Software", class: "l-center"
          .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
            .l-inner.l-vcenter
              = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "MEGAMAC", class: "l-center"
          .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
            .l-inner.l-vcenter
              = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "BBC", class: "l-center"
          .l-grid__span--3---MQupto-desktop.l-grid__span--6---MQdesktop
            .l-inner.l-vcenter
              = image_tag "http://placehold.it/150", srcset: "http://placehold.it/300 2x", alt: "Smashing Magazine", class: "l-center"