- title = "Get in touch" unless title

%section#contact
  .l-dark
    .l-grid.l-grid---MQtablet
      .l-grid__span--6---MQtablet
        .c-panel
          .c-panel__body
            %h3.c-panel__title= title
            .c-copy.c-copy--emphasised
              %p We are available for hire to design and develop with passionate people.

            - if defined?(twitter)
              - content_for :scripts do
                :javascript
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

              = link_to "Follow @simplebitdesign", "https://twitter.com/simplebitdesign", class: "c-button c-button--secondary twitter-follow-button", data: { "show-count" => false, size: "large"}

      .l-grid__span--6---MQtablet
        .c-panel
          .c-panel__body
            %form.c-form.c-form--inset{action: "//formspree.io/info@simplebitdesign.com", method: "POST"}
              .c-form__row
                %label.h-accessible{for: "message"} Your message
                %textarea#message.c-form__control{name: "message", rows: 5, required: true, placeholder: "Tell us a little about your project"}
              .c-form__row.c-form__row--inline
                %label.c-form__label{for: "name"} Name:
                %input#name.c-form__control{type: "text", name: "name", placeholder: "John Smith", required: true}
              .c-form__row.c-form__row--inline
                %label.c-form__label{for: "email"} Email:
                %input#email.c-form__control{type: "email", name: "_replyto", placeholder: "j.smith@gmail.com", required: true}
              .c-form__row.c-form__row--inline
                %label.c-form__label{for: "budget"} Budget:
                %input#budget.c-form__control{type: "number", name: "budget", placeholder: "Optional", min: 0}

                %input.c-button.c-button--primary.c-button--next{type: "submit", value: "Send"}