%footer
  .l-constrained
    .c-section
      .h-align-center
        .o-footnote= data.site.footer.cookie
        = image_tag gulp_image_path("cookie.svg"), id: "cookie", alt: "A delicious cookie", class: "l-center"
