%footer
  .l-constrained
    .c-section.l-subtle.l-bordered---MQmobile
      .h-align-center
        .o-footnote= data.site.footer.cookie
        = image_tag gulp_image_path("cookie.svg"), id: "cookie", alt: "A delicious cookie", class: "l-center will-animate fadeInUp", "data-wow-duration" => "0.5s", "data-wow-delay" => "0.25s"
