%footer
  .l-constrained
    .h-align-center
      .o-footnote We use cookies. We assume you're ok with that.
      = image_tag "cookie.svg", id: "cookie", alt: "A delicious cookie", class: "l-center"