.l-dark
  = ui_svg "simple-bit-logo", 680, class: "o-background-logo"
  %aside#how-we-can-help
    .c-panel.c-panel--center
      .c-panel__body
        %h3.c-panel__title Find out how can we help you
        .c-copy.c-copy--emphasised
          .c-copy__leading
            %p We have experience working with start-ups, agencies and large, multi-national companies; working well with in-house teams and independently.
        .c-panel__buttons
          = link_to "Get in touch", "#contact", class: "c-button c-button--giant---MQtablet c-button--primary"
