.l-dark
  = sprite "simplebitdesign", "o-background-logo"
  %aside#how-we-can-help
    .c-panel.c-panel--center
      .c-panel__body
        %h3.c-panel__title Find out how can we help you
        .l-leading.l-center
          .c-copy.c-copy--emphasised
            %p We love working with others. Whether you’re a start-up, agency or a large, multi-national company, our expertise allows us to work alongside in-house teams or independently to suit your needs.
        = link_to "Get in touch", "#contact", class: "c-button c-button--giant---MQtablet c-button--primary"
