%section#location
  .l-light
    #mapoverlay.o-embed.o-embed--fill.o-embed--overlay{"aria-hidden" => true}
    #map.o-embed.o-embed--map
      %iframe{ src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyC7xcLSiqIVviluqZQ_hv6NJrSP2Y4qGt4&q=Simple+Bit+Design,The+Business+Terrace,Maidstone+House,King+Street,Maidstone,Kent,ME156AW", width: "100%", height: "100%", frameborder: "0", style: "border:0;", allowfullscreen: true}
