= link_to "/", class: "c-media c-logo" do
  .c-media__figure
    = ui_svg "simple-bit-logo", 36
  .c-media__body
    %h2.c-logo__title Simple Bit Design
    %h4.c-logo__subtitle We make beautiful interfaces