%aside
  .l-highlight
    .l-constrained
      .c-panel
        .c-panel__body
          .l-grid
            .l-grid__span--8---MQtablet
              .h-align-left
                %label.c-banner__title{:for => "mailinglistemail"} Get on the mailing list for the latest updates:
            .l-grid__span--4---MQtablet
              %form{:action => "", :method => "post", :target => "_blank"}
                .c-addon
                  .c-field
                    %input#mailinglistemail.c-field__input.c-field__input--seamless{:name => "EMAIL", :placeholder => "Email Address", :required => "", :type => "email"}/
                  %input.c-button.c-button--secondary.c-button--seamless{:type => "submit", :value => "Go"}/