- menu_mod = (current_page.url == '/' ? nil : 'tcon--light')

%button.tcon.tcon-menu--xcross{type: "button", "aria-label" => "Menu", "data-toggle" => "navigation", class: menu_mod}
  %span.tcon-menu__default Menu
  %span.tcon-menu__transformed Close
  %span.tcon-menu__lines{"aria-hidden" => "true"}
