- description = ( defined?(current_page.data.intro) ? current_page.data.intro : data.site.description)

- image = ( defined?(current_page.data.image) ? current_page.data.image : data.site.image)

%meta{:content => "summary_large_image", :name => "twitter:card"}
%meta{:content => "@simplbitdesign", :name => "twitter:site"}
%meta{:content => "@craigmdennis", :name => "twitter:creator"}
%meta{:content => description, :name => "twitter:description"}
%meta{:content => image, :name => "twitter:image"}

- if defined? current_page.data.title
  %meta{:content => current_page.data.title, :name => "twitter:title"}
