- description = ( defined?(current_page.data.intro) ? current_page.data.intro : data.site.description)

- image = ( defined?(current_page.data.image) ? current_page.data.image : data.site.image)

- title = ( defined?(current_page.data.title) ? current_page.data.title : data.site.name + " &mdash; " + data.site.title )

- root = data.site.url["#{config[:environment]}"]

%meta{:property => "og:url", :content => "#{root}#{current_page.url}"}
%meta{:property => "og:site_name", :content => data.site.name}
%meta{:property => "og:description", :content => description}
%meta{:property => "og:image", :content => image}
%meta{:property => "og:title", :content => title.html_safe}
