- description = ( defined?(current_page.data.intro) ? current_page.data.intro : data.site.description)

- image = ( defined?(current_page.data.image) ? current_page.data.image : data.site.image)

%meta{:name => "twitter:card", :content => "summary_large_image"}
%meta{:name => "twitter:site", :content => "@simplbitdesign"}
%meta{:name => "twitter:creator", :content => "@craigmdennis"}
%meta{:name => "twitter:description", :content => description}
%meta{:name => "twitter:image", :content => cdn_asset_path(image)}

- if defined? current_page.data.title
  %meta{:content => current_page.data.title, :name => "twitter:title"}
