- collapsible = collapsible || false
%nav
  #nav.m-navigation{ class: (collapsible ? "is-collapsible" : nil) }
    %ul.m-navigation__list
      - data.each do |nav|
        %li.m-navigation__item
          - if nav.url
            = link_to nav.title, nav.url, class: "m-navigation__text"
          - else
            .m-navigation__text= nav.title