- collapsible = collapsible || false
- extraclasses = extraclasses || nil

#nav.c-navigation{ class: "#{(collapsible ? 'is-collapsible' : nil)} #{extraclasses}" }
  %nav
    %ul.c-navigation__list
      - data.each do |nav|
        %li.c-navigation__item
          - if nav.url
            = link_to nav.title, nav.url, class: "c-navigation__text c-navigation__text--strong"
          - else
            .c-navigation__text.c-navigation__text--strong= nav.title