%nav
  -# %button#navigationbutton.o-navigation.c-button.c-button--seamless.c-button--next.is-closed{type: "button", data: {toggle: "navigation"}}
  -#   .h-accessible Menu
  -#   = ui_svg "menu", 28

  .l-split---MQtablet
    = partial "partials/logo-inline"

    %ul#navigation.c-navigation
      - data.site.navigation.each_with_index do |nav, index|
        %li
          = link_to nav.anchor, nav.href, class: "c-navigation__text"
