.block.block--primary.block--spacious.block--divided-top
  %nav
    .container
      = partial "partials/navigation", locals: { data: data.site.footer.nav }

      .navigation__text= data.site.footer.text