.l-light.l-bordered
  .c-section__header.c-section__header--large
    %h1.o-title= title
    .l-grid---MQdesktop
      .l-grid__span--8---MQdesktop
        .c-copy.c-copy--adjacent
          %p.c-copy__intro= intro
