-# .l-light.l-bordered.l-fullheight
-#   .c-section__header.c-section__header--large
-#     .h-align-center
-#       %h1.o-title= title
-#       .l-leading.l-center
-#         %p= intro

.l-bordered.l-white
  .c-post.c-post--adjacent
    .l-leading.l-center.h-align-center
      %h1.o-title= title
      .c-copy
        %p= intro


-# .l-light.l-bordered
-#   .c-section__header.c-section__header--large
-#     %h1.o-title= title
-#     .l-grid---MQdesktop
-#       .l-grid__span--8---MQdesktop
-#         .c-copy.c-copy--adjacent
-#           %p.c-copy__intro= intro
