-# %picture.background.background--overlayed{class: classes }
-#   - if data.url.tablet
-#     %source{srcset: gulp_image_path(data.url.tablet), media: "(min-width: 48em)"}
-#   - if data.url.desktop
-#     %source{srcset: gulp_image_path(data.url.desktop), media: "(min-width: 62em)"}
-#   - if data.url.hd
-#     %source{srcset: gulp_image_path(data.url.hd), media: "(min-width: 75em)"}
-#   = image_tag gulp_image_path(data.url.deskop), alt: data.alt
