.c-panel
  .c-panel__body
    %h3.c-panel__title
      = link_to article.title, article.url
    -# - if defined?(article.date)
    -#   %p= partial "partials/time", locals: { data: article }
    - if defined?(article.summary)
      .c-copy.c-copy--emphasised
        %p= article.summary
    = link_to "Continue reading", article.url, class: "c-button c-button--primary"
