%section#articles
  .l-light
    .l-grid.l-grid--lines.l-grid---MQdesktop

      - blog.articles[0...2].each do |article|
        - if current_page != article
          .l-grid__span--6---MQdesktop
            = partial "partials/post-summary", locals: {article: article}