.l-subtle
  .l-grid.l-grid--baseline.l-grid---MQdesktop
    .l-grid__span--8---MQdesktop
      .c-panel
        .c-panel__body
          %h3.c-panel__title If it has a screen, we can design for it
          .c-copy.c-copy--emphasised
            %p The principles of design are fundamental, tools and technology are the things that change. Whether you have a SaaS application, website, or app &mdash; we can use our expertise to help achieve your goals.
          = link_to "Get in touch", "#contact", class: "c-button c-button--primary"
    .l-grid__span--4---MQdesktop
      = image_tag "devices.png", srcset: "devices@2x.png 2x", class: "l-right"