%section#services
  .l-light
    .l-middle---MQdesktop
      %header
        %h1.o-hub-text Services

    .l-grid.l-grid--lines.l-grid---MQdesktop
      - data.site.services.each_with_index do |service, index|

        .l-grid__span--6---MQdesktop
          .c-panel.c-panel--has-buttons
            .c-panel__body
              %h2.c-panel__title= service.title
              .c-copy.c-copy--emphasised
                %p= service.summary
            .c-panel__buttons
              = link_to service.anchor, service.slug, class: "c-button c-button--primary c-button--block---MQupto-tablet"
              -# = link_to "Articles", "#", class: "c-button c-button--secondary c-button--block---MQupto-tablet"