- data.site.services.each_with_index do |service, index|
  .l-fullheight{class: (index.even? ? "l-light" : "l-subtle")}
    %section.c-panel
      .c-panel__body
        .l-grid---MQdesktop
          .l-grid__span--8---MQdesktop
            %h1.c-panel__title.c-panel__title--giant.will-animate.fadeInUp= service.title
            .c-copy.c-copy--emphasised.c-copy--large.will-animate.fadeInUp
              :markdown
                #{service.summary}

        -# = link_to service.anchor, service.slug, class: "c-button c-button--primary c-button--block---MQupto-tablet"
        -# = link_to "Articles", "#", class: "c-button c-button--secondary c-button--block---MQupto-tablet"
