- content_for :scripts do
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

.l-twitter
  = ui_svg "twitter", 400, class: "o-background-twitter"
  .l-grid.l-grid---MQdesktop
    .l-grid__span--8---MQdesktop
      %aside#activity
        .c-panel.c-panel--upsize
          .c-panel__body
            #tweet.h-inherit-links.h-reset
            = link_to "Follow @simplebitdesign", "https://twitter.com/simplebitdesign", class: "c-button c-button--secondary twitter-follow-button", data: { "show-count" => false, size: "large"}