/* 

ROOT
Similar to reset but can include SASS $variables

*/

figure {
  margin: 0;
}

a {
  color: $base-accent;
  transition: color $base-duration-fast $base-timing, background-color $base-duration-fast $base-timing;
}

html {
  @include media( $hd ) {
    font-size: 112.5%;
  }
  @include media( em(1600px) ) {
    font-size: 125%;
  }
  @include media( em(1920px) ) {
    font-size: 137.5%;
  }
}

header,
section,
footer {
  position: relative;
}