/* 

ROOT
Similar to reset but can include SASS $variables

*/

figure {
  margin: 0;
}

a {
  color: $base-accent;
  transition: color $base-duration-fast $base-timing, background-color $base-duration-fast $base-timing;
}

html {
  @include media( $hd ) {
    font-size: 112.5%;
  }
  @include media( em(1600px) ) {
    font-size: 112.5%;
  }
  @include media( em(1920px) ) {
    font-size: 137.5%;
  }
}

body {
  @include media( $phablet ) {
    padding-left: $small-spacing/2;
    padding-right: $small-spacing/2;
  }

  @include media( $tablet ) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }
}
