@mixin span($columns) {
  width: (100% / $grid-columns) * $columns;
  width: calc( (100% / #{$grid-columns}) * #{$columns} );
}

.l-grid {
  @include row;
  display: flex;
  flex-wrap: wrap;

  > * {
    display: flex;
    flex-wrap: wrap;
  }
}

.l-grid__span--6 {
  @include rwd( tablet ) {
    @include span( 6 );
  }
}

.l-grid__span--4 {
  @include rwd( tablet ) {
    @include span( 4 );
  }
}

.l-grid--lines > * {
  border-right: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  margin-bottom: -1px;

  [class*="l-grid__span--6"] {
    &:nth-child(2n) {
      border-right: 0;
    }
  }
}