@mixin span($columns) {
  width: (100% / $grid-columns) * $columns;
  width: calc( (100% / #{$grid-columns}) * #{$columns} );
}

.l-grid {
  @include row;

  @include rwd( upto-desktop desktop, false ) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > * {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

[class*="l-grid__span"] {
  width: 100%;
}

.l-grid--baseline > * {
  align-items: flex-end;
}


.l-grid__span--8 {
  @include rwd( desktop ) {
    @include span( 8 );
  }
}

.l-grid__span--6 {
  @include rwd( desktop ) {
    @include span( 6 );
  }
}

.l-grid__span--4 {
  @include rwd( desktop ) {
    @include span( 4 );
  }
}

.l-grid__span--3 {
  @include rwd( upto-desktop desktop ) {
    @include span( 3 );
  }
}

.l-grid--lines > * {
  border-bottom: 1px solid $color-athensgray;
  margin-bottom: -1px;

  @include media( $desktop ) {
    border-right: 1px solid $color-athensgray;
  }

  [class*="l-grid__span--6"] {
    &:nth-child(2n) {
      border-right: 0;
    }
  }
}