$highlight__bg: $global__accent;
$light__color: #4A4A4A;
$subdued__bg: #F6F6F6;

.l-constrained {
  @include outer-container;
  padding-left: $baseline/2;
  padding-right: $baseline/2;
}

.l-ontop {
  position: relative;
  z-index: 2;
}

.l-centered {
  text-align: center;
}

.l-highlight {
  background-color: $highlight__bg;
  position: relative;
  color: white;
  overflow: hidden;
}

.l-light {
  background-color: white;
  color: $light__color;
  overflow: hidden;
}

.l-subdued {
  background-color: $subdued__bg;
  color: $light__color;
}

.l-inside {
  padding-top: $baseline/2;

  @include media( $tablet ) {
    padding-top: $baseline;
  }
}

.l-spacious {
  @include media( $tablet ) {
    padding-bottom: $baseline*4;
    padding-top: $baseline*4;
  }
}

.l-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.l-fullwidth-mqmobile {
  @include media( $mobile ) {
    width: 100%;
  }
}

.l-split {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l-dark {
  background-color: $color__pickledblue;
  color: white;
}