body {

  @include media( $phablet ) {
    padding: $small-spacing/2;
  }

  @include media( $tablet ) {
    padding: $base-spacing;
  }
}

.l-constrained {
  @include outer-container( $container );
}

.l-split {
  @include rwd( tablet ) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.l-middle {
  @include rwd( desktop, false ) {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
  }
}

.l-vcenter {
  display: flex;
  align-items: center;
}

.l-center {
  margin-left: auto;
  margin-right: auto;
}

.l-right {
  float: right;
}

.l-left {
  float: left;
}

.l-inner {
  padding: $base-spacing;
  display: block;
  margin-left: auto;
  margin-right: auto;
}