.c-callout {
  background: $color-pickledblue;
  color: white;
  border-radius: $base-radius;
  padding: $base-spacing;

  @include media( $tablet ) {
    margin-left: -$base-spacing*2;
    margin-right: -$base-spacing*2;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
}

.c-callout > p {
  @include height( 20px );
  font-weight: normal;
  font-weight: italic;

  &:last-child {
    margin-bottom: 0;
  }
}
