$hamburger-size: $base-spacing;
$hamburger-color: white;

@mixin line {
  display: block;
  width: $hamburger-size;
  height: $hamburger-size/7;
  background: $hamburger-color;
  border-radius: $hamburger-size/14;
  transition: all $base-duration-fast $base-timing;
}

.c-hamburger {
  background: none;
  border: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  cursor: pointer;
  height: $base-spacing;
  width: $base-spacing;

  @include media( $tablet ) {
    display: none;
  }

  &:active {
    transition: 0;
  }
}

.c-hamburger__lines {
  @include line;
  position: relative;

  &:before,
  &:after {
    @include line;

    content: "";
    position: absolute;
    left: 0;
    transform-origin: $hamburger-size/14 center;
  }

  &:before {
    top: $hamburger-size/4;
  }

  &:after {
    top: -$hamburger-size/4;
  }
}

// three-c-hamburger__lines to x
.c-hamburger.active {

  .c-hamburger__lines {
    background: transparent;
    
    &:before,
    &:after {
      top: 0;
      width: $hamburger-size;
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d( 0,0,1,45deg );
    }

    &:after {
      transform: rotate3d( 0,0,1,-45deg );
    }
  }
}
