$nav-color: $color-pickledblue;
$nav-border: 1px solid $nav-color;
$nav-color-light: white;
$nav-underline-height: 0.2em;

.c-navigation {
  margin: 0;
  list-style-type: none;
  padding: $small-spacing 0;
  transition: transform $base-duration-slow $base-timing, opacity $base-duration-slow $base-timing;

  @include media( max-width #{$tablet} ) {
    @include position( fixed, $base-spacing*3.5 0 0 0 );
    border-top: 1px solid rgba(0,0,0,0.15);
    z-index: map-get($z, top_bun);
    background-color: $base-accent;
    display: none;
  }

  @include media( $phablet ) {
    top: 5.75rem;
    left: $small-spacing/2;
    right: $small-spacing/2;
  }

  @include media( $tablet ) {
    display: flex;
    align-self: flex-end;
    padding: 0;
  }

  > li {
    height: calc(100%/6);
  }
}

.c-navigation__item {
  color: $nav-color;
  margin: 0;
}

.c-navigation__text {
  font-size: 7.5vh;
  text-align: center;
  color: inherit;
  position: relative;
  display: block;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  font-weight: 700;

  @include media( $mobile ) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include media($tablet) {
    @include height(20px, 40px);
    text-align: left;
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    font-weight: 500;
  }

  &:after {
    @include media( $tablet ) {
      @include position(absolute, null $small-spacing (-$base-spacing) $small-spacing);
      background-color: $base-accent;
      content: '';
      display: block;
      height: 0;
      opacity: 0;
      transition: height $base-duration-fast $base-timing, opacity $base-duration-fast $base-timing;
    }
  }

  &:hover,
  &:focus,
  &.is-hovered {
    text-decoration: none;
    color: $base-accent;

    &:after {
      @include media( $tablet ) {
        height: $nav-underline-height;
        opacity: 1;
      }
    }
  }
}

.c-navigation.c-navigation--light {
  border-bottom: 0;

  .c-navigation__text {
    color: $nav-color-light;
    opacity: 0.9;
    transition: opacity $base-duration-fast $base-timing;

    &:after {
      background-color: white;
    }

    &:hover,
    &:focus,
    &.is-hovered {
      opacity: 1;
    }
  }
}

.o-navigation {
  transition: transform $base-duration-slow $base-timing;
  transform: rotate(-90deg);
}

.o-navigation--light {
  color: white;
}

.o-navigation.is-closed {
  .js & {
    transform: rotate(0deg);
  }
}

@mixin generate-active-classes( $name ) {
  @each $n in $name {
    .#{$n} .c-navigation__#{$n} {
      color: $base-accent;
    }
  }
}

@include generate-active-classes( projects services posts );
