$nav-color: $color-pickledblue;
$nav-border: 1px solid $nav-color;
$nav-color-light: white;
$nav-underline-height: 0.2em;

.c-navigation {
  margin: 0 0 $small-spacing 0;
  list-style-type: none;
  padding: 0;

  @include media( max-width #{$tablet} ) {
    display: none;

    &.is-open {
      display: block;
    }
  }


  @include media( $tablet ) {
    display: flex;
    align-self: flex-end;
    margin: 0;
  }
}

.c-navigation__text {
  @include media( max-width #{$tablet} ) {
    border-top: 1px solid rgba(0,0,0,0.15);
  }
  font-size: 5vh;
  text-align: center;
  color: inherit;
  position: relative;
  display: block;
  padding: $small-spacing;
  font-weight: 700;

  @include media( $mobile ) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include media($tablet) {
    padding-left: $base-spacing;
    padding-right: $base-spacing;
  }

  &:after {
    @include media( $tablet ) {
      @include position(absolute, null $small-spacing (-$base-spacing) $small-spacing);
      background-color: $base-accent;
      content: '';
      display: block;
      height: 0;
      opacity: 0;
      transition: height $base-duration-slow $base-timing, opacity $base-duration-slow $base-timing;
    }
  }

  &:hover,
  &:focus,
  &.is-hovered {
    text-decoration: none;
    color: $base-accent;

    &:after {
      @include media( $tablet ) {
        height: $nav-underline-height;
        opacity: 1;
      }
    }
  }
}

.c-navigation.c-navigation--light {
  border-bottom: 0;

  .c-navigation__text {
    color: $nav-color-light;
    opacity: 0.9;
    transition: opacity $base-duration-fast $base-timing;

    &:after {
      background-color: white;
    }

    &:hover,
    &:focus,
    &.is-hovered {
      opacity: 1;
    }
  }
}

@mixin generate-active-classes( $name ) {
  @each $n in $name {
    .#{$n} .c-navigation__#{$n} {
      color: $base-accent;
    }
  }
}

@include generate-active-classes( projects services posts );
