$notice-danger-bg: $base-accent;
$notice-success-bg: #2ecc71;

.c-notice {
  @include height( 18px );
  display: block;
  background: #ccc;
  padding: $base-spacing;
  border-radius: 3px;
  margin-bottom: $base-spacing;
  font-weight: 700;

  > p:last-child {
    margin-bottom: 0;
  }
}

.c-notice--danger {
  background-color: $notice-danger-bg;
  color: white;
}

.c-notice--success {
  background-color: $notice-success-bg;
  color: white;
}
