.c-panel {
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
}

.c-panel__buttons {
  width: 100%;
  @include media( $upto-desktop ) {
    padding: 0 $base-spacing $base-spacing;
  }
}

.c-panel__title {
  @include height( 24px );
  font-weight: 700;
  margin-bottom: $small-spacing;

  @include media( $tablet ) {
    @include height( 40px );
    margin-bottom: $base-spacing;
  }


  &.c-panel__title--giant {
    @include height( 32px );
    margin-bottom: $base-spacing;

    @include media( $tablet ) {
      @include height( 56px );
    }
  }

  &.c-panel__title--small {
    @include height( 21px );
  }

  > a {
    color: inherit;

    &:hover,
    &:focus {
      color: $base-accent;
      text-decoration: none;
    }
  }
}

.c-panel__body {
  width: 100%;
  flex-flow: column;

  @include rwd( tablet ) {
    padding: $base-spacing;

    @include media( $desktop ) {
      padding: $large-spacing;
    }
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

.c-panel__body--apart {
  @include media( $tablet ) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex: 1 0 auto;
  }
}

.c-panel--center {
  > .c-panel__body {
    align-items: center;
    text-align: center;
  }
}

.c-panel--adjacent {
  // @include rwd( mobile ) {
  .c-panel__body {
    padding-bottom: 0;
  }
  // }
}
