.c-section {
  overflow: hidden;
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;

  @include media( $phablet ) {
    border-radius: $base-radius;

    &:not(.c-section--adjacent) {
      margin-top: $small-spacing/2;
    }

    &.c-section--first {
      border-radius: $base-radius $base-radius 0 0;
    }

    &.c-section--last {
      border-radius: 0 0 $base-radius $base-radius;
    }
  }

  @include media( $tablet ) {
    &:not(.c-section--adjacent) {
      margin-top: $small-spacing;
    }
  }

  @include media( $desktop ) {
    &:not(.c-section--adjacent) {
      margin-top: $base-spacing;
    }
  }

  &__overlay {
    @include position(absolute, 50% 0 0 0);
    border-bottom-left-radius: $base-radius;
    border-bottom-right-radius: $base-radius;
    opacity: 0.075;
    height: 100%;
    transform: translateY(-50%);
    overflow: hidden;

    .mixblendmode & {
      mix-blend-mode: multiply;
      opacity: 0.15;
    }

    @include media( $upto-tablet ) {
      width: 150%;
      transform: translate(-15%, -50%);
    }
  }
}

.c-section__header {
  @include rwd( tablet ) {
    padding: $base-spacing;
  }
  //align-self: flex-end;
}

.c-section__header--large {
  @include media( $tablet ) {
    padding: $large-spacing;
  }
}

.c-section__header--bordered {
  @include rwd( tablet, false ) {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}
