.c-section {
  overflow: hidden;
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  width: 100%;

  @include media( em(1280px) ) {
    &.c-section--first {
      border-top-right-radius: $base-radius;
      border-top-left-radius: $base-radius;
    }
    &.c-section--last {
      border-bottom-right-radius: $base-radius;
      border-bottom-left-radius: $base-radius;
    }
  }

  &__overlay {
    @include position(absolute, 50% 0 0 0);
    border-bottom-left-radius: $base-radius;
    border-bottom-right-radius: $base-radius;
    opacity: 0.075;
    height: 100%;
    transform: translateY(-50%);

    .mixblendmode & {
      mix-blend-mode: multiply;
      opacity: 0.15;
    }

    @include media( $upto-tablet ) {
      width: 175%;
      transform: translate(-37.5%, -50%);
    }
  }
}

.c-section__header {
  @include rwd( tablet ) {
    overflow: hidden;
    padding: $base-spacing;
  }

  @include media( max-width #{$tablet} ) {
    position: relative;
    z-index: map-get($z, top_bun);
  }
}

.c-section__header--large {
  @include media( $tablet ) {
    padding: $large-spacing;
  }
}

.c-section__header--bordered {
  @include rwd( tablet, false ) {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
}

.c-section--inset {
  border-radius: $base-radius;
  overflow: hidden;
}
