$highlight-bg: $base-accent;
$dark-bg: $color-pickledblue;
$subtle-bg: $color-whisper;

.l-highlight {
  background-color: $highlight-bg;
  color: white;
  position: relative;
}

.l-light {
  background-color: white;
}

.l-dark {
  background-color: $dark-bg;
  color: white;
}

.l-subtle {
  background-color: $subtle-bg;
}

.l-twitter {
  background-color: #55acee;
  color: white;
}
