$grid-line-width: 1px;
$grid-line: $grid-line-width solid $color-athensgray;

.l-grid {
  @include rwd( tablet desktop hd ) {
    @include row;
    display: flex;
    flex-wrap: wrap;
  }
}

[class*="l-grid__span"] {
  width: 100%;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.l-grid--equal {
  flex: 1;
}

.l-grid--baseline {
  > * {
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
  }
}


.l-grid__span--8 {
  @include rwd( desktop ) {
    width: 66.66666666%;
  }
}

.l-grid__span--6 {
  @include rwd( tablet desktop hd ) {
    width: 50%;
  }
}

.l-grid__span--4 {
  @include rwd( tablet desktop hd ) {
    width: 33.33333333%;
  }
}

.l-grid__span--3 {
  @include rwd( upto-desktop desktop ) {
    width: 25%;
  }
}

.l-grid--lines {

  > * {
    border-bottom: $grid-line;
    margin-bottom: -$grid-line-width;
  }

  > .l-grid__span--6 {
    @include rwd( desktop hd ) {
      &:not(:nth-child(2n)) {
        border-right: $grid-line;
      }
    }
  }

  > .l-grid__span--3 {
    @include rwd( upto-desktop ) {
      &:not(:nth-child(4n)) {
        border-right: $grid-line;
      }
    }
  }
}


.l-grid--gutter {
  margin-left: -$gutter/4;
  margin-right: -$gutter/4;

  > * {
    padding-left: $gutter/4;
    padding-right: $gutter/4;
  }
}

.l-grid--gutter2x {
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;

  > * {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }
}
