.l-constrained {
  @include outer-container( $container );
}

.l-split {
  @include rwd( tablet desktop ) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.l-middle {
  @include rwd( desktop, false ) {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    z-index: map-get($z, bottom_bun);
  }
}

.l-vcenter {
  display: flex;
  align-items: center;
  align-self: center;
}

.l-center {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: block;
}

.l-right {
  float: right;
}

.l-left {
  float: left;
}

.l-inner {
  padding: $base-spacing;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.l-fill {
  @include rwd( desktop ) {
    @include position(absolute, 0 0 0 0);
  }
}

.l-max {
  width: 100%;
}

.l-navigation {
  @include media( $tablet ) {
    @include position(absolute, 0 0 null null);
    padding: $base-spacing;
  }

  z-index: map-get($z, top_bun);
  overflow: hidden;
}

.l-leading {
  padding: $base-spacing;

  @include media( $tablet ) {
    padding: $base-spacing 20%;
  }
}

.l-bordered {
  @include rwd( mobile ) {
    border-top: 1px solid $color-athensgray;
  }
}

.l-top {
  @include rwd( tablet ) {
    @include position(absolute, 0 0 null 0);
    z-index: map-get($z, bottom_bun);
  }
}

.l-masonry {
  margin-top: $small-spacing;
  columns: 2;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  column-gap: $small-spacing;

  @include media($tablet) {
    columns: 3;
    padding: 0;
  }

  @include media($tablet) {
    columns: 4;
  }

  > * {
    display: block;
    margin-bottom: $small-spacing;
    border-radius: $base-radius;
    overflow: hidden;
  }
}
