.l-blackhole {
  padding: $base-spacing;

  @include media( $tablet ) {
    padding: $base-spacing*4 $large-spacing;
  }

  @include media( $desktop ) {
    padding: $base-spacing*8 $large-spacing;
  }
}
