.o-image-right {
  display: none;

  @include media( $desktop ) {
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    max-width: none;
  }
}
