.o-logo {
  display: block;
  margin: 0;
  position: relative;
  color: $color-pickledblue;
  text-decoration: none;
  user-select: none;
  font-size: rem(40px);

  &:hover,
  &:focus {
    color: $color-carminepink;
    text-decoration: none;
  }
}
