.o-scroll-indicator {
  display: none;
  font-size: 3rem;

  @include media( $desktop ) {
    display: block;
  }
}

.o-scroll-indicator.o-scroll-indicator--bottom {
  display: block;
  @include position(absolute, null null $large-spacing 50%);
  transform: translateX(-50%);
  transition: opacity $base-duration-slow $base-timing;
}

[data-whatinput="mouse"] {
  .o-scroll-indicator.o-scroll-indicator--bottom {
    opacity: 0;
  }

  header:hover .o-scroll-indicator.o-scroll-indicator--bottom {
    opacity: 1;
  }
}
