.o-title {
  @include height( 32px );
  font-weight: 700;
  margin-bottom: $small-spacing;

  @include media( $tablet ) {
    @include height( 56px );
  }

  transition: opacity $base-duration-fast $base-timing;
}

.o-title--offset {
  @include rwd( tablet, false ) {
    margin-top: $large-spacing + $small-spacing;
  }
}

.o-subtitle {
  @include height( 21px );
  font-weight: 400;
  margin-bottom: 0;

  @include media( $tablet ) {
    @include height( 24px );
  }
}

.o-title + .o-subtitle {
  margin-top: -$small-spacing/2;
}
