include templates/_mixins

block vars
  -var bodyClass = "";

doctype
html.no-js
  head
    title Simple Bit Design
    meta(name="description", content="We make intuitive interfaces for complex apps &amp; services")
    meta(name="keywords", content="UX, UI, User Experience, Interface, Design, Information Design")
    meta(name="author" content="Craig Dennis")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    // build:css({app,.tmp}) styles/main.css
    // bower:css
    link(rel='stylesheet', href='bower_components/normalize-css/normalize.css', type='text/css')
    link(rel='stylesheet', href='bower_components/animate.css/animate.css', type='text/css')
    // endbower
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic', type='text/css')
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    //- Change no-js to js
    script.
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');

  body(class='#{bodyClass}')
    include templates/_browseHappy

    block alerts

    header
      .header
        block header
          include templates/_logo

    block content

    block contact

    footer
      .footer.bg-dark
        .container
          block footer
            p &copy; Copyright <a class="inherit" href="http://simplebitdesign.com">Simple Bit Design LTD</a> 2014
            .social-buttons
              a(href="https://twitter.com/SimpleBitDesign", class="twitter-follow-button", data-show-count="false") Follow @SimpleBitDesign

    // build:js(app) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='bower_components/animateCSS/dist/jquery.animatecss.js')
    script(src='bower_components/svgeezy/svgeezy.js')
    // endbower

    block scripts_vendor
    // endbuild

    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/animations.js')
    script(src='scripts/validation.js')
    script(src='scripts/consolefix.js')
    script(src='scripts/app.js')

    //- Call scripts on a per-page basis
    block scripts
    // endbuild

    include templates/_analytics

    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
