extends _base.jade

block header

  .hero.container
    .logo.flex--is-hidden(itemscope, itemtype="http://schema.org/Organization")
      img.logo__img(src="./images/simple-bit-design-logo.svg", itemprop="logo", alt="Logo for Simple Bit Design")

    h1.hero__title.flex--is-hidden We're a small design team who make intuitive interfaces.

    blockquote.hero__subtitle.flex--is-hidden
      q Simplicity is the ultimate sophistication.
      cite &mdash; &nbsp;
        a.inherit(href="http://en.wikipedia.org/wiki/Simplicity#Quotes_about_simplicity", target="_blank") Da Vinci

    i.icon--down-open-big.section__icon--more.flex--is-hidden

block content

  section
    #expertise.section.bg--primary.flex--is-hidden
      .container
        header
          .section--header.has-divider--bottom
            h2.section__title.text--white Our expertise
            p.section__subtitle.text--light We're passionate about what we do and can help you make the <strong>most</strong> of your product becuase we genuinley care.

        .section__subsection-wrapper
          .subsection
            h3.subsection__title.text--white
              i.icon--settings.copy__icon--before
              span Information Design
            p.subsection__body.text--light The internet is all about data, but it's no good if your users can't make sense of it. We have the skills to make your data <strong>easy to understand</strong> and control.

          .subsection
            h3.subsection__title.text--white
              i.icon--love.copy__icon--before
              span UX Design
            p.subsection__body.text--light Do your users <strong>love</strong> your product? We can encourage them by making sure they enjoy each interaction, no matter how small.

          .subsection
            h3.subsection__title.text--white
              i.icon--browser.copy__icon--before
              span Interface Design
            p.subsection__body.text--light We're experts in creating <strong>effortless interfaces</strong> that let people complete tasks without any unnecessary distrations.

        footer
          .section__footer.has-divider--top
            p.section__subtitle.text--light Please &nbsp;
              a.link--bg-primary(href="#contact") get in touch
              | &nbsp; to ask for our portolio.

  section
    #experience.section.bg--light
      .container
        header
          .section__header
            h2.section__title Our experience
            p.section__subtitle.text--dark We have worked with start-ups and well-known brands alike; creating <strong>beautiful</strong>, <strong>simple</strong> and <strong>intuitive</strong> interfaces as well as meeting their business objectives.

        mixin clients(['bbc', 'asos', 'smashing', 'confused'])

        footer
          .section__footer
            p.section__subtitle.text--dark We move <strong>quickly</strong> and work in <strong>short sprints</strong>, validating our ideas as we go to ensure we're on the right track.

block contact
  section
    #contact.section.bg--secondary
      .container
        header
          .section__header
            h2.section__title.text--white Get in touch
            p.section__subtitle.text--light Together, all things are possible.
        include templates/_contactForm
