extends templates/base.jade

block header
  .hero.container
    .inner
      include templates/_mainmenu

      h1.hero-title We make intuitive interfaces<br> for complex apps and services.

block content

  section
  .section.bg-light
    .container
      header
        .section-header
          h2.section-title Our expertise

      .subsection
        .rwd-media-container(data-ratio="560-300")
          img.rwd-media-object(src="http://placehold.it/560x300")
        h3.subsection-title Information Design:
        .subsection-body
          p Presenting information in a way that fosters efficient and effective understanding.

      .subsection
        .rwd-media-container(data-ratio="560-300")
          img.rwd-media-object(src="http://placehold.it/560x300")
        h3.subsection-title User Experience Design:
        .subsection-body
          p Enhancing customer satisfaction and loyalty by improving the usability, ease of use, and pleasure provided in the interaction.

      .subsection
        .rwd-media-container(data-ratio="560-300")
          img.rwd-media-object(src="http://placehold.it/560x300")
        h3.subsection-title User Interface Design:
        .subsection-body
          p Make the user's interaction as simple and efficient as possible; finishing the task at hand without drawing unnecessary attention.

  section
    .section.bg-gray
      .container
        //- header
        //-   .section-header
        h2.section-title Our experience
        p.section-subtitle We have experience working with start-ups and well-known brands; <br>creating beautiful concepts as well as complete UI redesigns.

        //- mixin clients(['bbc', 'asos', 'smashing', 'confused'])

  section
    .section.bg-secondary
      .container
        include templates/_contactForm
