extends templates/base.jade

block header
  .container

    include templates/_mainmenu

    h1 Simple Bit
    h2.gamma We make intuitive interfaces for complex systems.

    p.delta More and more services are moving to the web and there is now more data than ever before.
    p.delta People demand more control over apps they use but also expect an easy-to-use interface. The trouble is, a lot of interfaces are clumsy and difficult to use; meaning frustrated customers, negative feedback, loss of revenue and damage to the brand.

    blockquote
      q Simplicity is the ultimate sophistication.
      cite &mdash; Da Vinci

block content
  section
    .section
      .container
        h2 We can help
        p We want to make peoples’ lives easier. Simple Bit has a proven track record in designing beautiful interfaces for very complex systems including analytics dashboards and recruitment systems. The more intuitive something is to use, the less you have to explain.

  section
    .section
      .container
        h2 What we do
        h3 Information Design:
        p Presenting information in a way that fosters efficient and effective understanding.

        h3 User Experience Design:
        p Enhancing customer satisfaction and loyalty by improving the usability, ease of use, and pleasure provided in the interaction.

        h3 Interface Design:
        p Make the user's interaction as simple and efficient as possible; finishing the task at hand without drawing unnecessary attention.

    section
      .section
        .container
          h2 Our experience covers many sectors
          p We have worked with small and large teams; startups and well-known brands.

          ul
            li BBC
            li Admiral
            li Smashing Magazine
            li ASOS
            li Knowsis

    section
      .section
        .container
          h2 We work <em>with</em> you
          p Design work is a partnership. You know more about your business than anyone and that knowledge is valuable. We will work with you to understand the problems you face and create solutions that suit both your users and your business.

          ul
            li Discovery
            li Wireframes
            li User tests
            li Prototypes
            li Mockups
            li Documentation

    section
      .section
        .container
          h2 We don't do everything, and that's a good thing
          p We're specialists, not a one-stop-shop. If we can’t help with a particular part of your project, we’ll let you know up front. However we probably know someone who can.
