extends index.jade

block alerts
  .alert.alert-success.alert-dismissable(data-dismiss="alert")
    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
    | Thanks, we have received your email and will get back to you shortly.

block contact

block scripts_vendor
  script(src='scripts/alerts.js')
  script.
    $('.alert').alert();
