extends index.jade

block header
  .hero.container
    //- include templates/_logo

    h1.hero-title Thank you
      i.icon-smile
    p.hero-subtitle We have received your email and will get back to you shortly.

block contact
