// Colors
$global__accent:          #D24859;

// Animations
$global__fast:            100ms;
$global__slow:            300ms;
$global__easing:          cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Spacing
$baseline:                2em;

// Misc
$global__radius:          0;
$global__maxwidth:        75em;

// Type
$global__fontpath:        "/fonts";
$global__heading:         "futura-pt", "Futura PT", sans-serif;
$global__body:            "open-sans", "Open Sans", sans-serif;

// Breakpoints
// Can't be "quoted" as it breaks NEAT
$mobile:                  max-width 47.9375em; // 799px
$tablet:                  48em;
$tablet-desktop:          min-width 48em max-width 62em;
$desktop:                 62em; // 992px
$hd:                      75em; // 1200px

// z-index
$z: (
  ground: -3000,
  basement: -2000,
  floor: -1000,
  table: 0,
  bottom_bun: 1000,
  condiment: 2000,
  cheese: 3000,
  meat: 4000,
  top_bun: 5000
);