@charset "UTF-8";

@import 'vars';

@import 'sass-height/sass-height.scss';
@import 'sass-height/sass-height.scss';
@import 'bourbon';
@import 'neat';

@import 'utils/util_rem';
@import 'utils/util_stripunits';
@import 'utils/util_unicode';

@import 'mixins/notouch';
@import 'mixins/rwd';

@import 'helpers/accessible';
@import 'helpers/animations';
@import 'helpers/align';

@import 'base/reset';
@import 'base/root';
@import 'base/focus';
@import 'type/type';
@import 'type/copy';

@import 'layout/layouts';
@import 'layout/grid';

@import 'modules/sections';
@import 'modules/posts';
@import 'modules/navigation';
@import 'modules/panels';

@import 'components/media';
@import 'components/embed';
@import 'components/lists';
@import 'components/summary';
@import 'components/hamburger';
@import 'components/projects';
@import 'components/addons';
@import 'components/buttons';
@import 'components/fields';

@import 'objects/logo';
@import 'objects/icons';
@import 'objects/skiplink';
@import 'objects/footnote';
@import 'objects/title';

// INBOX - To Be Factored
#headerlogo {
  display: none;

  @include media( $tablet ) {
    transform: rotate(35deg);
    position: absolute;
    bottom: -20%;
    right: -20%;
    opacity: 0.1;
    z-index: 1;
    width: 100%;
    max-width: 75em;
    display: block;
  }

  @include media( $desktop ) {
    width: 75%;
  }
}