%section#blog
  .l-light
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title From the blog

          %ul.c-list.c-list--divided
            = partial 'partials/sections/blog_summary'
            = partial 'partials/sections/blog_summary'
            = partial 'partials/sections/blog_summary'


          = link_to "More from the blog", "#", class: "o-button o-button--secondary"