%section#blog
  .l-light
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title From the blog

          %ul.c-list.c-list--divided
            - blog.articles[0...3].each do |article|
              %li.c-list__item{itemid: article.url, itemscope: true, itemtype: "http://schema.org/BlogPosting"}
                = partial 'partials/sections/blog_summary', locals: {data: article}


          = link_to "More from the blog", "#", class: "o-button o-button--secondary"