%section#projects
  .l-subdued
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title
            =link_to 'Projects', '/projects.html'

          .c-list.c-list--divided
            - sitemap.resources.each_with_index do |project, index|
              - if project.url =~ /^(\/projects\/)/
                .c-list__item
                  = partial 'partials/projects/project_summary', locals: { project: project }