%section#projects
  .l-subdued
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title Projects

          - sitemap.resources.each do |project|
            - if project.url =~ /^(\/projects\/)/
              = partial 'partials/projects/project_summary', locals: { project: project }