%section#services
  .l-light
    .l-constrained
      .m-section
        .l-grid
          .l-grid__span--4
            %img{src: "http://placehold.it/400", srcset: "http://placehold.it/800 2x", alt: ""}
          .l-grid__span--8
            %h2 We pride ourselves on providing the right service for your needs.
            %p Whether you're a large, well-established organisation or a startup that needs some design direction, we can help.
            %p Our focus is on designing for your audience; for their needs and ability.

            :markdown
              - Who is the audience?
              - What are their key tasks?
              - What are the business objectives?
              - Discovery
              - Sketch
              - Prototype
              - Wireframe
              - Mockup
              - Build
              - Deliver