%section#what-we-do
  .l-light
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title What We Do
          %h2.m-collection__callout We design for people.
          
          %p.m-collection__copy Accessibility and usability are considered at every stage.

          .c-list.c-list--divided
            .c-list__item
              .c-summary
                %h2.c-summary__title.c-summary__title--accent
                  = link_to 'UI Design', 'ui-design-agency.html'
                
                -# %figure
                -#   .c-summary__figure
                -#     = ui_svg 'devices', false, alt: "A laptop, tablet and phone", id: "icon_devices", class: "c-summary__figure__image"

                %p.c-summary__copy
                  Big or small, in your pocket or on your wall; we have the experience and skill to make the most of the display.
                  %b If it has a screen, we can design for it. 

            .c-list__item
              .c-summary
                %h2.c-summary__title.c-summary__title--accent
                  = link_to 'Information Design', 'information-design-agency.html'

                -# %figure
                -#   .c-summary__figure
                -#     = ui_svg 'chart', false, alt: "A complex graph", id: "icon_chart", class: "c-summary__figure__image"

                %p.c-summary__copy
                  Do you have lots of data that you're struggling to show in a way that makes sense?
                  %b We find effective ways to communicate your data
                  in meaningful ways.

            .c-list__item
              .c-summary
                %h2.c-summary__title.c-summary__title--accent
                  = link_to 'Front End Development', 'front-end-development.html'

                -# %figure
                -#   .c-summary__figure
                -#     = ui_svg 'code', false, alt: "A command line terminal window", id: "icon_code", class: "c-summary__figure__image"

                %p.c-summary__copy
                  We think about the code from that start. Often prototyping and testing interactions with users. Code is
                  %b optimised for performance across multiple devices.

        .m-collection__footer
          = link_to "Get in touch", "contact.html", class: "o-button o-button--primary"