%section#what-we-do
  .l-light
    .l-inside
      .l-constrained
        .m-collection
          %h1.m-collection__title What We Do
          %h2.m-collection__callout We design for people.
          
          %p.m-collection__copy Accessibility and usability are considered at every stage.

          %hr/

          .c-summary
            %h2.c-summary__title UI design
            
            %figure
              .c-summary__figure
                = image_tag "ui-design-devices.png", alt: "A laptop, tablet and phone"

            %p.c-summary__copy
              Big or small, in your pocket or on your wall; we have the experience and skill to make the most of the display.
              %b If it has a screen, we can design for it. 

          %hr/

          .c-summary
            %h2.c-summary__title Information design

            %figure
              .c-summary__figure
                = image_tag "information-design.png", alt: "A complex graph"

            %p.c-summary__copy
              Do you have lots of data that you're struggling to make sense?
              %b We find effective ways to communicate your data
              in meaningful ways.

          %hr/

          .c-summary
            %h2.c-summary__title Front End Development

            %figure
              .c-summary__figure
                = image_tag "html-css-svg.png", alt: "HTML, CSS and SVG filetype icons"

            %p.c-summary__copy
              We think about the code from that start. Often prototyping and testing interactions with users. Code is
              %b optimised for performance across multiple devices.

          %hr/

        .m-collection__footer
          = link_to "Get in touch", "#", class: "o-button o-button--primary"