$text-primary: $base-accent;
$text-dark: $color-pickledblue;

.h-color-primary {
  color: $text-primary;
}

.h-color-light {
  color: white;
}

.h-color-dark {
  color: $text-dark;
}

.h-inherit {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
