$button-type-size: 18px;

$button-primary-bg: $base-accent;
$button-primary-color: white;
$button-primary-border: $button-primary-bg;

$button-secondary-bg: white;
$button-secondary-color: $base-accent;
$button-secondary-border: $base-accent;

.c-button {
  @include height( $button-type-size, $base-button-height );
  background-color: transparent;
  display: block;
  padding-right: $small-spacing;
  padding-left: $small-spacing;
  text-align: center;
  border-radius: $base-radius;
  border: $base-button-border-width solid transparent;
  width: 100%;

  @include media( $tablet ) {
    display: inline-block;
    width: initial;
  }

  &:hover,
  &:focus  {
    text-decoration: none;
  }

  &--primary {
    background-color: $button-primary-bg;
    color: $button-primary-color;
    border-color: $button-primary-border;

    &:hover,
    &:focus {
      background-color: darken($button-primary-bg, 5%);
    }
  }

  &--secondary {
    background-color: $button-secondary-bg;
    color: $button-secondary-color;
    border-color: $button-secondary-border;

    &:hover,
    &:focus {
      background-color: darken($button-secondary-bg, 5%);
    }
  }
}
