$button-type-size: 18px;

$button-primary-bg: $base-accent;
$button-primary-color: white;
$button-primary-border: $button-primary-bg;

$button-secondary-bg: $color-athensgray;
$button-secondary-color: $color-pickledblue;
$button-secondary-border: $color-athensgray;

.c-button {
  @include height( $button-type-size, $base-button-height );
  background-color: transparent;
  display: block;
  padding-right: $small-spacing;
  padding-left: $small-spacing;
  text-align: center;
  border-radius: $base-radius;
  border: $base-button-border-width solid transparent;
  width: 100%;
  font-weight: 500;

  @include wf("avenirnextw00", n5);

  &:not(:last-child) {
    margin-right: $small-spacing;
  }

  @include media( $tablet ) {
    display: inline-block;
    width: initial;
  }

  &:hover,
  &:focus  {
    text-decoration: none;
  }

  // Colours
  &--primary {
    background-color: $button-primary-bg;
    color: $button-primary-color;
    border-color: $button-primary-border;

    &:hover,
    &:focus {
      background-color: darken($button-primary-bg, 5%);
      border-color: darken($button-primary-bg, 5%);
    }
  }

  &--secondary {
    background-color: $button-secondary-bg;
    color: $button-secondary-color;
    border-color: $button-secondary-border;

    &:hover,
    &:focus {
      background-color: darken($button-secondary-bg, 5%);
      border-color: darken($button-secondary-bg, 5%);
    }
  }

  // Sizes
  &--giant {
    @include height( 24px, 72px );
    padding-left: $base-spacing;
    padding-right: $base-spacing;
    font-weight: 700;
  }

  &--block {
    @include rwd( upto-tablet ) {
      width: 100%;
      display: block;

      &:not(:last-child) {
        margin-bottom: $small-spacing;
      }
    }
  }
}
