$form-control-border-width: 2px;
$form-control-border: $form-control-border-width solid #EEE;
$form-control-radius: $base-radius;
$form-control-type-size: 18px;

// Match the total height of default buttons
$form-matched-height: $base-button-height + $base-button-border-width;
$form-control-height: $form-matched-height - ( $form-control-border-width*2 );

.c-form {}

.c-form__row {
  margin-bottom: $small-spacing;

  &--divided {
    border-bottom: $form-control-border;
  }
}

.c-form__control {
  @include height( $form-control-type-size, $form-control-height );
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  border: $form-control-border;
  border-radius: $form-control-radius;
}

.c-form__item {
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
}

// Modifiers
.c-form--edge {
  .c-form__row {
    margin-top: -$small-spacing;
  }

  .c-form__label {
    @include height( 15px );
    padding-top: $small-spacing;

    @include media( $mobile ) {
      padding-left: $small-spacing;
      padding-right: $small-spacing;
    }
  }

  .c-form__control {
    @include height( 17px, $base-button-height );
    border-width: 0 0 1px 0;
    margin-top: -$small-spacing;

    @include media( $tablet ) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}