.c-navigation {

  &__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: $baseline/2; // Margin causes a jump in navigation collapse animation


    @include media( $mobile ) {
      margin-left: -$baseline/2;
      margin-right: -$baseline/2;
    }

    @include media( $tablet ) {
      display: flex;
      justify-content: center;
    }
  }

  &--inline {
    @include media( $tablet ) {
      display: block;
      float: left;
      margin: $baseline/4 $baseline/2;

      .c-navigation__list {
        padding-bottom: 0;
      }
    }
  }

  &__item {
    margin: 0;

    @include media( $mobile ) {
      border-bottom: 1px solid rgba(white, 0.15);

      &:first-child {
        border-top: 1px solid rgba(white, 0.15);
      }
    }
  }

  &__text {
    @include height( 18px, 48px );
    display: block;
    color: inherit;
    padding-left: $baseline/2;
    padding-right: $baseline/2;

    &--strong {
      font-weight: bold;
    }
  }
}

a.c-navigation__text {
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include notouch( true ) {
    background-color: rgba(black, 0.05);
  }
}

@include media( $mobile ) {
  .c-navigation--collapse {
    .js & {
      clip: rect(0 0 0 0);
      max-height: 0;
      position: absolute;
      display: block;
      zoom: 1;
    }

    &.opened {
      max-height: 9999px;
    }
  }
}

@include media( $tablet ) {
  .c-navigation--collapse {

    .js & {
      position: relative;
    }

    .closed {
      .js & {
        max-height: none;
      }
    }
  }
}