$panel-border: 1px solid #EEE;

.c-panel {
  display: flex;
  
  &--bordered {
    border: 1px solid #EEE;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &__body {
    padding: $baseline/2;
    display: block;
    width: 100%;

    > p:last-child {
      margin-bottom: 0;
    }
  }

  &--interactive {
    transition: top $global__fast $global__easing;
    top: 0;
    position: relative;

    &:hover,
    &:focus {
      top: -$baseline/4;
    }
  }
}