.c-panel {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__body {
    padding: $base-spacing;

    @include media( $desktop ) {
      padding: $base-spacing*2;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }

  &__buttons {
    width: 100%;
    @include media( $upto-desktop ) {
      padding: 0 $base-spacing $base-spacing;
    }
  }

  &__title {
    @include height( 32px );
    font-weight: 700;
    margin-bottom: $small-spacing;

    &--giant {
      @include rwd( tablet ) {
        @include height( 48px );
      }
    }

    &--small {
      @include height( 21px );
    }
  }
}

.c-panel--has-buttons {
  position: relative;
  @include media( $desktop ) {
    padding-bottom: 3.25rem;
  }

  > .c-panel__buttons {
    @include media( $desktop ) {
      @include position(absolute, null $base-spacing*2 $base-spacing*2 $base-spacing*2);
    }
  }
}

.c-panel--center {
  justify-content: center;

  > .c-panel__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}