.c-panel {
  display: flex;

  &--center {
    justify-content: center;
  }

  &:first-child {
    border-top-left-radius: $base-radius;
    border-top-right-radius: $base-radius;
  }

  &:last-child {
    border-bottom-left-radius: $base-radius;
    border-bottom-right-radius: $base-radius;
  }

  &__body {
    padding: $base-spacing;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > p:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @include height( 32px );
    font-weight: 700;
    margin-bottom: $small-spacing;
  }
}

.c-panel--has-buttons {
  .c-panel__body {
    position: relative;
    padding-bottom: rem($base-button-height) + $base-spacing;
  }

  .c-panel__buttons {
    // @include position(absolute, null 0 0 0);
  }
}