.c-post {
  @include media( $desktop ) {
    padding-top: $base-spacing;

    &:not(.c-post--adjacent) {
      padding-bottom: $large-spacing;
    }
  }
}

.c-post__meta {
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

.c-post__header {
  margin-bottom: $base-spacing;
}

.c-post__title {
  @include height( 32px );
  font-weight: normal;
  text-align: center;

  &--extra {
    padding-bottom: $base-spacing;
    padding-top: $base-spacing;
  }
}

.c-post__mainimage {
  display: block;
  margin: $base-spacing auto 0;
  padding-left: $base-spacing;
  padding-right: $base-spacing;

  @include media( $desktop ) {
    padding-left: $large-spacing;
    padding-right: $large-spacing;
  }

  > img {
    border: 1px solid $color-athensgray;
    border-width: 1px 1px 0 1px;
    border-top-right-radius: $base-radius*1.5;
    border-top-left-radius: $base-radius*1.5;
  }
}
