.c-section {
  overflow: hidden;
  
  @include media( $phablet ) {
    border-radius: $base-radius;
    margin-bottom: $small-spacing/2;
  }

  @include media( $tablet ) {
    margin-bottom: $base-spacing;
  }
}