/*
UI Component

Hover a link and only show an underline on the text

Markup:
<a href="#" class="ui">
  <i class="icon icon--caret-o-right" aria-hidden="true"></i>
  <span class="ui__text">Only this is underlined</span>
</a>

Styleguide 4.3.1

*/
a.ui:hover,
a.ui:focus {
  text-decoration: none;

  .ui__text {
    text-decoration: underline;
  }
}

a.ui--icon {

  // Only show opacity hover effects on non touchscreens
  @include notouch {
    opacity: 0.25;
    transition: opacity $global__fast $global__easing;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}