// ===================================================
// Flexbox
// ===================================================

.flexbox {

  // Vertical center align
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    @include breakpoint( min-height 480px ) {
      margin-top: - baseline(3);
    }
  }

  // Only hide elements when flexbox is enabled
  .flex--is-hidden {
    visibility: hidden;
  }


}
