// ===================================================
// Flexbox
// ===================================================

.mustard {

  // Vertical center align
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero {
    margin-top: - baseline(3);
  }

}
