.o-title {
  @include height( 36px, 40px );
  margin-bottom: $baseline/4;
  margin-top: $baseline/4;

  @include media( $tablet ) {
    @include height( 64px, 72px );
    text-align: center;
    padding-right: $baseline;
    padding-left: $baseline;
  }
}