// Type
$type-fontsize: 100%;
$type-lineheight: 1.5;
$type-color: $color-pickledblue;
$type-bg: $color-athensgray;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $type-bg;
  font-family: $base-sans;
  font-size: $type-fontsize;
  line-height: $type-lineheight;
  font-weight: 400;
  color: $type-color;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base-sans;
  font-weight: 700;
  margin-bottom: $small-spacing;
}

hr {
  border-bottom: 1px solid rgba(0,0,0,0.15);
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;
}

object,
embed,
iframe,
video {
  display: block;
}
