$icon-primary-color: $base-accent;

.o-icon {
  display: inline-block;
  font-style: normal;
  line-height: 1;
  fill: currentColor;
}

.o-icon--after {
  margin-left: $small-spacing;
}

.o-icon--before {
  margin-right: $small-spacing;
}

.o-icon--primary {
  color: $icon-primary-color;
}