#skiplink {
  @extend .h-accessible;

  &:focus,
  &:active {
    position: static;
    height: auto;
    width: auto;
    display: block;
    text-align: center;
    text-decoration: none;
    overflow: visible;
    padding: $baseline/2;
  }
}