.o-tag {
  @include height(16px, 32px);
  padding-left: $small-spacing/2;
  padding-right: $small-spacing/2;
  background-color: $base-accent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2pt;
  display: inline-block;
}

.o-time {
  @include height(14px);
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2pt;
  text-transform: uppercase;
}