.o-title {
  @include height( 42px );
  font-weight: 700;
  margin-bottom: $small-spacing;
}

.o-subtitle {
  @include height( 24px );
  font-weight: 400;
  margin-bottom: 0;
}

.o-title + .o-subtitle {
  margin-top: -$small-spacing/2;
}
