@mixin focus {
  // Default
  outline: thin dotted;
  // WebKit
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

// Default :focus styles
input,
textarea,
select,
button,
a {
  &:focus {
    @include focus;
  }
}

.is-focus-trigger:focus,
#content:focus {
  outline: 0;
}

// Focus states when using a mouse
[data-whatinput="mouse"],
[data-whatinput="touch"] {
  :focus {
    outline: 0;
  }
}