---
title: Contact
---

- content_for :header do
  = partial 'partials/logo'
  = partial "partials/navigation", locals: { data: data.site.nav, collapsible: true }


.l-light
  .l-inside
    %header
      .l-constrained
        %h1= current_page.data.title

    .l-constrained
      %form{ action: "//formspree.io/info@simplebitdesign.com", method: "POST"}
        %input{:type => "hidden", name: "_next", value: "/thanks.html"}
        %input{type: "text", name: "name", required: true, placeholder: "First Last"}
        %input{type: "email", name: "_replyto", required: true, placeholder: "email@domain.com"}
        %textarea{name: "message", cols: "30", rows: "10", placeholder: "Your message"}
        %input{type: "text", name: "_gotcha", style: "display:none;"}
        %input{:type => "submit", value: "Send"}