---
title: We write code with performance and accessibility in mind
tag: Front End Development
---

- content_for :header do
  = partial 'partials/logo'
  = partial 'partials/navigation', locals: {data: data.site.nav, collapsible: true, extraclasses: 'm-navigation--inline' }

.l-light
  .l-constrained
    %p This is the landing page for SEO and possibly PPC. It should have an introduction about #{current_page.data.tag} and list all projects / blog posts that are related; this can probably be handled with tags.