---
title: Posts
intro: Sometimes we have a flash of inspiration, overcome an obstacle or explore new ideas; before we forget, we write some of them down.
pageable: true
---

- content_for :header do
  = partial "partials/page-header", locals: { title: current_page.data.title, intro: current_page.data.intro}

.l-constrained
  .c-section
    .l-light
      %section#articles
        .l-grid.l-grid--lines.l-grid---MQdesktop
          - posts[0...10].each do |article|
            .l-grid__span--6---MQdesktop
              = partial "partials/post-summary", locals: {article: article}

  .c-section
    = partial "partials/twitter"

  .c-section
    = partial "partials/contact"

  -# <% if paginate %>
  -#   <% if next_page %>
  -#     <p><%= link_to 'Next page', next_page %></p>
  -#   <% end %>
  -# <% end %>
  -#  -->
