---
title: Projects
---

- content_for :header do
  = partial 'partials/logo'
  = partial "partials/navigation", locals: { data: data.site.nav, collapsible: true }

= partial 'partials/sections/projects'