---
title: Projects
intro: Our projects vary by industry and scope. We're proud of all of our work but here are a few that we're aloud to talk about.
---

- content_for :header do
  = partial "partials/page-header", locals: { title: current_page.data.title, intro: current_page.data.intro}

.l-constrained
  - blog("projects").articles[0...10].each do |project|
    .c-section.l-light.l-bordered---MQmobile
      = partial "partials/project-summary", locals: { project: project.data, path: project.path }

  -# .c-section
  -#   = partial "partials/twitter"

  .c-section
    = partial "partials/contact"

  -# <% if paginate %>
  -#   <% if next_page %>
  -#     <p><%= link_to 'Next page', next_page %></p>
  -#   <% end %>
  -# <% end %>
  -#  -->

-#   .c-section
-#     = partial "partials/contact"

  -# <% if paginate %>
  -#   <% if next_page %>
  -#     <p><%= link_to 'Next page', next_page %></p>
  -#   <% end %>
  -# <% end %>
  -#  -->
