header
  .section-header
    h1.section-title Let's work together
    p.section-subtitle Design work is a partnership. We can work <em>with</em> you to understand the problems and create solutions to suit both your users and your business.

form(action="")
  .form-contact
    fieldset
      .form-row
        label.sr-only(for="#message") Message
        textarea#message(rows="5", name="message", placeholder="Tell us a little about your project", required aria-required="true")

      .form-row
        label.sr-only(for="#name") Name
        input#name(type="text", name="name", placeholder="Name", required aria-required="true")

      .form-row
        label.sr-only(for="#email") Email
        input#email(type="email", name="email", placeholder="Email", required aria-required="true")
