form#contactForm(method="POST", novalidate, action="email.php")
  .form--contact
    fieldset

      .form__row
        label.text--light.form__polyfill--placeholder(for="message") Tell us a little about your project.
        textarea.form__input--text#message(rows="5", name="message", placeholder="Tell us a little about your project", required aria-required="true", autocomplete="off")

      .form__row
        label.text--light.form__polyfill--placeholder(for="name") Name
        input.form__input--text#name(type="text", name="name", placeholder="Name", required aria-required="true")

      .form__row
        label.text--light.form__polyfill--placeholder(for="email") Email
        input.form__input--text#email(type="email", name="email", placeholder="Email", required aria-required="true", autocapitalize="off")

      .form__row
        label.text--light.form__polyfill--placeholder(for="budget") Budget (optional)
        input.form__input--text#budget(type="text", name="budget", placeholder="Budget (optional)")

      .form__row
        button#submit.btn--primary.btn--next(type="submit")
          span Send
          i.icon--mail.copy__icon--after
