nav
  .nav

    a(href="#menu").menu-toggle
      span.link-text Menu
      //- i.fa.fa-bars

    ul.menu.is-closed
      li.menu-item.is-active
        a.menu-link(href="#") Home
      li.menu-item
        a.menu-link(href="#") About us
      li.menu-item
        a.menu-link(href="#") What we do
      li.menu-item
        a(href="#") Experience
      li.menu-item
        a.menu-link(href="#") Contact

    .logo(itemscope, itemtype="http://schema.org/Organization")
        a(itemprop="url" href="http://www.simplebitdesign.com/").logo-link
          img(itemprop="logo", src="http://placehold.it/100", alt="Logo for Simple Bit Design").logo-img
