.logo(itemscope, itemtype="http://schema.org/Organization")
  a.logo-link(itemprop="url" href="http://www.simplebitdesign.com/")
    img.logo-img(itemprop="logo", src="./images/simple-bit-design-logo.svg", alt="Logo for Simple Bit Design")
