nav
  .nav

    //- button.menu-toggle
    //-   span.sr-only Menu
    //-   i.fa.fa-bars

    //- ul.menu.is-closed
    //-   li.menu-item.is-active
    //-     a.menu-link(href="#") Home
    //-   li.menu-item
    //-     a.menu-link(href="#") About us
    //-   li.menu-item
    //-     a.menu-link(href="#") What we do
    //-   li.menu-item
    //-     a(href="#") Experience
    //-   li.menu-item
    //-     a.menu-link(href="#") Contact

    .logo(itemscope, itemtype="http://schema.org/Organization")
        a.logo-link(itemprop="url" href="http://www.simplebitdesign.com/")
          img.logo-img(itemprop="logo", src="./images/simple-bit-design-logo.svg", alt="Logo for Simple Bit Design")
