//- ===================================================
//- Mixins
//- ===================================================


//- Display client logos
mixin clients( logos )
  ul.clients
    - each logo in logos
      li.clients__item
        .rwd-media__container(data-ratio="153-41")
          img.rwd-media__object(src="./images/#{logo}_bw.png", alt="Logo for #{logo}")
