//- ===================================================
//- Mixins
//- ===================================================


//- Display client logos
mixin clients( logos )
  ul.list-clients
    - each logo in logos
      li.list-client-item
        .rwd-media-container(data-ratio="153-41")
          img.rwd-media-object(src="./images/#{logo}_bw.png", alt="Logo for #{logo}")
