include _mixins

block vars
  -var bodyClass = "";

doctype
html.no-js
  head
    title Simple Bit Design
    meta(name="description", content="We make intuitive interfaces for complex apps &amp; services")
    meta(name="keywords", content="UX, UI, User Experience, Interface, Design, Information Design")
    meta(name="author" content="Craig Dennis")

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="viewport", content="width=device-width, initial-scale=1")

    // build:css({app,.tmp}) styles/main.css
    // bower:css
    link(rel='stylesheet', href='../bower_components/normalize-css/normalize.css')
    // endbower
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body(class='#{bodyClass}')
    include _browseHappy

    header
      .header
        block header
          include _mainmenu

    block content

    footer
      .footer.bg-dark
        .container
          block footer
            p &copy; Copyright <a class="inherit" href="http://simplebitdesign.com">Simple Bit Design LTD</a> 2014

    // build:js({app,.tmp}) scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/jquery-validation/dist/jquery.validate.js')
    // endbower
    // endbuild

    include _analytics

    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/app.js')
    // endbuild
